/*样式重置*/
/* Document
   ========================================================================== */
html {
  line-height: 1; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


/* Sections
   ========================================================================== */

/**
 *移除body元素默认的margin
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/*
设置这些元素的margin为0，在精准布局时重置这些元素的margin
*/
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}




/* Text-level semantics
   ========================================================================== */

/**
 *
 * Remove the gray background on active links in IE 10.
 */

a{
    color: #333;
    text-decoration: 0;
    background-color: transparent;
}
/*
<b标签用来语义化的强调，不用来加粗>
*/
b{
    font-weight: normal;
}
/*为small设置正确的字体*/
small {
  font-size: 80%;
}





/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}







/* Forms
   ========================================================================== */
button{
  background: transparent;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}











/* list and table
   ========================================================================== */
ul{
    padding: 0;
    list-style: none;
}

table{
    border-spacing: 0;
}